<!DOCTYPE html>
<html lang="pl">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Stacja do monitoringu środowiska | Maciej Krakowiak®</title>
</head>
<body>
<nav class="navbar sticky-top navbar-dark bg-primary">
  	<a class="navbar-brand" href="#">Weather Station</a>
</nav>
<div class="row">
<h1 class="display-1 title">Weather Station</h1><br>
</div>

<div class="row">
	<div class="col-md-4">
		<h1>BME280:</h1>
		<p id="pressureValue">pressure:</p><br>
	<p id="humidityValue">humidity:</p> <br>
	<p id="temperatureValue">temp:</p></div>
	<div class="col-md-4"><H1>MH-RD</H1>
	<p id="isRaining"></p></div>
	<div class="col-md-4"><H1>CCS-811</H1></div>
</div>

<center><a href="/save" id="saveButton" role="button" class="btn btn-primary btn-lg">Save measurement</a>
<a href="/measurements" id="measurements" role="button" class="btn btn-primary btn-lg">Show Measurements</a></center>
<script>

	var pressure;
	var myVar = setInterval(getData, 5000);

	$('#saveButton').on('click', function(event) {
  	alert("Measurement saved");
});
	function getData(){
        $.ajax({
            "url": "/is_raining",
            "method": "GET",
            success: function(data){
            	if(data[1].raining == 1){
            		  document.getElementById("isRaining").innerHTML = "Not raining";
            	}
            	else{
            		  document.getElementById("isRaining").innerHTML = "Raining" ;
            	}
            	console.log(data[1].raining);
            }
        });

		$.ajax({
            "url": "/bme_280",
            "method": "GET",
            success: function(data){
            		document.getElementById("pressureValue").innerHTML = "Pressure: " + data[1].pressure;
            		document.getElementById("temperatureValue").innerHTML = "Temperature: " + data[1].temperature;
            		document.getElementById("humidityValue").innerHTML = "Humidity: " + data[1].humidity;
            	}
        });
        }
   </script>
</body>



</html>