<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
  <nav class="navbar sticky-top navbar-dark bg-primary">
  	<a class="navbar-brand" href="#">Weather Station</a>
</nav>
    <div class="container">
      <p>Measurements:</p>
      <table class="table">
    <thead>
        <tr>
            <th>time</th>
            <th>pressure</th>
            <th>temperature</th>
            <th>humidity</th>
            <th>raining</th>
            <th>id</th>
        <tr>
    </thead>
    <tbody>
    {%for row in results %}
              <tr>
            <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td>{{ row[3] }}</td>
                  <td>{{ row[4] }}</td>
                  <td>{{ row[5] }}</td>
              </tr>
                  {% endfor %}

    </tbody>
</table>

    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>
  </body>
</html>